
.card-slipping {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE8F0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

/* .or styling */
.or {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .card-slipping {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        margin-top: 10px;
    }

    .or {
        font-size: 14px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .card-slipping {
        font-size: 16px;
        padding: 10px;
    }

    .or {
        font-size: 12px;
        padding: 4px;
    }
}
