/* Navbar Container */
.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Main Navbar Styling */
.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

/* Search Input Styling */
.search-input {
    border: none;
}

/* Search Container */
.search-container {
    width: 30%;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container:hover{
    border-color: #FFE8F0;
}

/* Logo Styling */
.logo {
    font-size: 50px;
    color: #4D2952;
}

/* User Actions */
.user-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

/* Link Styling */
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease; /* Smoother hover effect */
}

.link:hover {
    color: #FF5598;
     /* Slight scale effect */
}

/* Span Styling */
span {
    margin-left: 5px;
    font-size: 16px;
}

.navbar-menu{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-item{
    font-size: 18px;
   
    border-width: 5px;
    border-radius: 5px;
    border-color: #ffffff;
}

.navbar-item:hover,.isClicked{
    border-style: none;
    border-bottom-style: solid;

    color: #FF5598;
    border-color: #FF5598;
    border-width: 5px;
    border-radius: 5px;
    
    transition:  border-color 0.6s ease,color 0.6s ease; /* Smoother hover effect */
}




/* Mobile Responsiveness */
@media (max-width: 768px) {
    .navbar-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
        order: 2;
    }

    .logo {
        font-size: 40px;
        font-weight: 600;
        order: 1;
    }

    .user-actions {
        width: 100%;
       order: 3;
        
        margin-top: 10px;
    }

    .link {
        width: 100%;
        justify-content: flex-start;
        padding-left: 5%;
        margin-top: 10px;
    }

    span {
        font-size: 14px;
        
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 30px;
    }

    .search-container {
        width: 100%;
        
    }

    .user-actions {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .link {
        width: 100%;
        justify-content: flex-start;
        padding-left: 5%;
    }

    span {
        font-size: 14px;
    }
}
